<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Decode</h1>
<form action="#" th:action="@{/decode}"th:object="${barcode}"method="post">
    <p>Barcode: <input type="text" th:field="*{barcode}"/></p>

    <p><input type="submit" value="Submit"/></p>
</form>

<ul>
    <li th:text="${user.getFirstname()}"></li>
    <li th:text="${user.getLastname()}"></li>
    <li th:text="${user.getDepartment()}"></li>
    <li th:text="${user.getClearance()}"></li>
    <li th:text="${user.getLastLoggedIn()}"></li>
</ul>

</body>
</html>